.form-wrapper {
  width: 60%;
  margin: 100px auto;
}

.form-wrapper h4 {
  margin-bottom: 3rem;
}

form button[type=submit] {
  float: right;
}

.uk-form-controls label + label {
  margin: 0 10px;
}
